<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>backup</title>
    </head>
    <body>
        <h1>is backup !</h1>
        <img src="/static/img/oracle-park.jfif">

        
        <div>정수 이하 소수점</div>
        <table border="1">
            <thead>
                <th>소숫점자릿수</th>
                <th>값</th>
            </thead>
            <% for(var i=2; i<spie.lenght; i++) %>
                <tr>
                    <td><%=(i-1)%></td>
                    <td><%=spie[i]%></td>
                </tr>
            <% } %>
   
        </table>
  

    
    </body>
</html>