<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div style="background: red;">
            ejs file test 222
        </div>
        <img src="/public/img/image.jpg">
        <img src="/static/img/image.jpg">

        <a href="/test">이동</a>

        <% for(var i=0; i<5; i++) { %>
            <div>안녕하세요_ejs활용</div>
        <% } %>
    </body>
</html>